appnope==0.1.0
attrs==20.2.0
backcall==0.2.0
Cartopy==0.18.0
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
click==7.1.2
click-plugins==1.1.1
cligj==0.5.0
cmasher==1.5.1
cmocean==2.0
colorspacious==1.1.2
conda==4.8.4
conda-package-handling==1.7.0+0.g7c4a471.dirty
cryptography>=3.2
cycler==0.10.0
decorator==4.4.2
descartes==1.1.0
e13tools==0.9.4
Fiona==1.8.16
GDAL==3.0.4
geopandas==0.8.1
idna==2.9
igraph==0.1.11
ipython==7.18.1
ipython-genutils==0.2.0
jedi==0.17.2
kiwisolver==1.2.0
matplotlib==3.2.2
mkl-fft==1.1.0
mkl-random==1.1.1
mkl-service==2.3.0
munch==2.5.0
networkx==2.5
numpy==1.19.1
olefile==0.46
OWSLib==0.20.0
pandas==1.1.1
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.2.0
prompt-toolkit==3.0.7
ptyprocess==0.6.0
pycosat==0.6.3
pycparser==2.20
pyepsg==0.4.0
Pygments==2.6.1
pyOpenSSL==19.1.0
pyparsing==2.4.7
pyproj==2.6.1.post1
pyshp==2.1.0
PySocks==1.7.1
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.1.2
requests==2.23.0
ruamel-yaml==0.15.87
scipy==1.5.0
seaborn==0.10.1
Shapely==1.7.1
six==1.14.0
tornado==6.0.4
tqdm==4.46.0
traitlets==5.0.4
urllib3==1.25.8
wcwidth==0.2.5
